@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

$fontFamily : 'Poppins', sans-serif;


.black{
    font-family: $fontFamily;
    font-weight: 900;
}
.bold{
    font-family: $fontFamily;
    font-weight: bold;
}
.regular{
    font-family: $fontFamily;
    font-weight: 400;
}


